<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci</title>
</head>
<body>
    <h1><%= titulo %></h1>
    <form method="POST" action="/mdc">
        <input name="num1" type="text" id="num1">
        <input name="num2" type="text" id="num2">
        <button type="submit">Mostrar!</button>
    </form>
    <p>
        <%if (resultado) { %>
            O MDC de <%= num1 %> e <%= num2 %> é <%= resultado %>.
        <% } %>    
    </p>
</body>
</html>